{% extends 'base.html' %}
{% block main %}
{% load static %}
<head>
<link rel="icon" href="{% static 'img/favicon.ico' %}"> <!-- 追加2022.9.10 -->
</head>

<div><h1>【特定商取引法に基づく表記】</h1>
    <table bgcolor="#999999" border="1" cellpadding="9" cellspacing="1" style="font-size:13px;text-align:left"> 
        <tr>
            <th bgcolor="#EEEEEE">販売事業者</th>
            <td bgcolor="#FFFFFF">瀬尾　靖</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">運営統括責任者</th>
            <td bgcolor="#FFFFFF">瀬尾　靖</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">所在地</th>
            <td bgcolor="#FFFFFF">〒771-1401徳島県阿波市吉野町柿原152-1</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">電話番号</th>
            <td bgcolor="#FFFFFF">050-7301-9120<br/>（受付時間　土曜日～月曜日　午前10時～午後5時まで）</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">メールアドレス</th>
            <td bgcolor="#FFFFFF"> plantsvalley2024@gmail.com</td>
        </tr> 
        <tr><th bgcolor="#EEEEEE">販売URL</th>
            <td bgcolor="#FFFFFF"> https://plants-valley.net/</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">お支払い方法</th>
            <td bgcolor="#FFFFFF">クレジットカード<br />コンビニ決済（申請中）<br /></td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">商品代金以外の<br />必要金額</th>
            <td bgcolor="#FFFFFF">送料・消費税をご負担いただきます。<br />【送料】<br />全国一律1000円（入金確認後、お届けまで2～7営業日）<br />※お届けまでゆっくりで良いという方は全国一律500円と設定させていただいています。
                <br />【消費税】<br />消費税10％はお客様にてご負担いただきます。</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">販売数量</th><td bgcolor="#FFFFFF">商品は在庫限りとさせていただきます。</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">お申込み有効期限</th>
            <td bgcolor="#FFFFFF">5日以内にお願いいたします。<br /> 5日間入金がない場合は、キャンセルとさせていただきます。</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">商品引渡し時期</th>
            <td bgcolor="#FFFFFF">クレジット支払い及びコンビニ決済の場合、指定日が無ければ入金確認後7日以内で発送致します。<br />お届けまでゆっくりで良い場合、ご注文確認後14日営業日以内で発送致します。<br />
                在庫切れの場合は別途ご連絡いたします。</td>
        </tr>
        <tr>
            <th bgcolor="#EEEEEE">商品引渡し方法</th>
            <td bgcolor="#FFFFFF">当方にて手配後、運送会社による配送。</td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">返品・不良品について</th>
            <td bgcolor="#FFFFFF">お客様のご都合によるご返品にはご対応できかねますので予めご了承ください。<br /> 
                <br /> 
                商品の性質上、原則として商品発送後の返品・交換はお受けできません。ただし、特別な事情がある場合を除きます。よくご検討の上、ご注文ください。<br />
                運送中の衝撃や揺れにより、葉や花芽、子株などが落ちてしまうことがありますが予めご了承ください。<br />
                商品到着後はなるべく早く開梱いただき、商品の状態をご確認いただくようお願いいたします。<br />
                 <br />
                商品が破損して届いた場合は、到着日か翌日までに必ずメールにてご連絡ください。営業時間内にメールにてご対応させて頂きます。<br />
                <br />
                確実にお客様にお届けできるよう、逆さまにしても揺らしても問題ないか確認をしておりますが、万が一輸送の際に植物に破損があった場合は、運送会社に事実確認を取り、ご返送いただいた商品が当店に届いてからのご返金（口座振込）になります。送料は当社にて負担致します。<br /> 
                <br />
                梱包は衝撃等に極力耐えられるように頑丈に梱包しておりますので、荷ほどきの際もご注意ください。
                <br />
                お客様ご都合での返品交換等は承れませんので予めご了承ください。<br />
                <br />
                株の根の状態などは一切保証できません。<br />
                <br />
                盆、正月、ゴールデンウィーク中は発送までに1週間以上お時間を頂く場合がございます。予めご了承ください。<br />
            </td>
        </tr> 
        <tr>
            <th bgcolor="#EEEEEE">表現、及び商品に<br />関する注意書き</th>
            <td bgcolor="#FFFFFF">撮影画像はすべて栽培中の個体ですが、<br />お届けする個体は写真とは異なる場合（特に色合い）がございます。</td>
        </tr>
        <tr>
            <th bgcolor="#EEEEEE">販売時期</th>
            <td bgcolor="#FFFFFF">在庫調整をさせていただく場合がございます。<br />枯死のリスクをなるべくなくすためです。</td>
        </tr>
        </table>       
    </div>
{% endblock %}