<div class="container w-100 bg-dark text-white py-1" style="max-width: 100%;">
  <div class="row mt-5 mx-5">
    <div class="col-12 col-md">
      <h5>{{ TITLE }}</h5>
      <small class="d-block mb-3 text-muted">&copy; Copyright 2023 All rights reserved</small>
    </div>
    <div class="col-6 col-md">
      <h5>自己紹介</h5>
      <ul class="list-unstyled text-small ">          
        <li><a class="link-secondary text-muted" href="/about/">About</a></li>          
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>SNS（What's New!）</h5>
      <ul class="list-unstyled text-small link-inline">
        <li>            
          <a class="link-secondary text-muted" href="https://x.com/plants_valley88" target="_blank"><i class="fab fa-twitter fa-lg rounded btn-primary icon"></i></a>
        </li>&nbsp;
        <li><a class="link-secondary text-muted" href="https://www.facebook.com/profile.php?id=61550269589738" target="_blank"><i class="fab fa-facebook fa-lg rounded btn-primary icon"></i></a>
        </li>&nbsp;
        <li><a class="link-secondary text-muted" href="https://www.instagram.com/plants_valley2023/" target="_blank"><i class="fab fa-instagram fa-lg rounded btn-danger icon"></i></a></li>
      </ul>

    </div>
    <div class="col-6 col-md">
      <h5>産業連携</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-muted" href="https://ueda-ah.com/" target="_blank">うえだ動物病院</a></li>
        <li><a class="link-secondary text-muted" href="#">募集中</a></li>
        <li><a class="link-secondary text-muted" href="#">募集中</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>サイトについて</h5>
      <ul class="list-unstyled text-small">
        
        <li><a class="link-secondary text-muted" href="/contact/">お問い合わせ</a></li>        
        <li><a class="link-secondary text-muted" href="/introduce/">利用規約 FAQ</a></li>
        <li><a class="link-secondary text-muted" href="/commercial/">特定商取引法の表示</a></li>
        <li><a class="link-secondary text-muted" href="/privacy/">プライバシーポリシー</a></li>
      </ul>
    </div>
  </div>
</div>